@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="mb-4">Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow card-dashboard p-4">
            <h6>Produtos em Estoque</h6>
            <h2>0</h2>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow card-dashboard p-4">
            <h6>Entradas Hoje</h6>
            <h2>0</h2>
        </div>
    </div>

    <div class="col-md-12 mt-4">
        <div class="card shadow card-dashboard p-4">
            <h6>Saídas Hoje</h6>
            <h2>0</h2>
        </div>
    </div>
</div>
