@model Produto

<div class="text-center">

    <h5 class="mb-3">

        Deseja realmente excluir?

    </h5>

    <div class="alert alert-warning">

        <strong>@Model.TipoMadeira</strong>

        <br />

        @Model.Dimensoes

    </div>

    <form asp-action="Delete"
          method="post">

        <input type="hidden"
               asp-for="Id" />

        @Html.AntiForgeryToken()

        <button type="submit"
                class="btn btn-danger">

            🗑 Excluir

        </button>

        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">

            Cancelar

        </button>

    </form>

</div>